body{

    background-image: url(/src/3pxro9.webp);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
    color:rgb(35, 12, 75);
    padding: 40px;
    text-align: center;


}

.table{
    color:rgb(35, 12, 75);
    padding: 40px;
    text-align: center;
}

.column{
    height: 50%;
    width: 80%;
}

.handleInput{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 5px;
    gap: 15px;
}

.button{
      appearance: none;
      background-color: #f3dff0;
      border: 1px solid rgba(90, 16, 106, 0.691);
      border-radius: 6px;
      box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
      box-sizing: border-box;
      color: #24292E;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      list-style: none;
      padding: 6px 16px;
      position: relative;
      transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      white-space: nowrap;
      word-wrap: break-word;
    }
    
    .button:hover {
      background-color: #F3F4F6;
      text-decoration: none;
      transition-duration: 0.1s;
    }
    
    .button:disabled {
      background-color: #FAFBFC;
      border-color: rgba(27, 31, 35, 0.15);
      color: #959DA5;
      cursor: default;
    }
    
    .button:active {
      background-color: #EDEFF2;
      box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
      transition: none 0s;
    }
    
    .button:focus {
      outline: 1px transparent;
    }
    
    .button:before {
      display: none;
    }
    
    .button:-webkit-details-marker {
      display: none;
    }


.input{
    text-align: center;
    justify-content: center;
    background-color: #f3dff0;
      border: 1px solid rgba(27, 31, 35, 0.15);
      border-radius: 6px;
      box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
      box-sizing: border-box;
      color: #09090a;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      list-style: none;
      padding: 6px 16px;
      position: relative;
      transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      white-space: nowrap;
      word-wrap: break-word;
      margin-left: 20px;
      width: 250px;
      width: 350px;
    

}

.footer{
    text-align: center;
    justify-content: center;
    position:fixed;
   left:0px;
   bottom: 90px;
   height:30px;
   width:100%;
}


  input[type='radio']{
    position: relative;
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type='radio']::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid rgb(236, 171, 236);
}

input[type='radio']:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(219, 192, 234);
  transform: translate(-50%, -50%);
  visibility: visible;
}