body {
  background-image: url(/src/background.webp);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Nunito', sans-serif;
  color: rgb(35, 12, 75);
  padding: 40px;
  text-align: center;
}

.period_switcher {
  color: rgb(35, 12, 75);
  padding: 40px;
  text-align: center;
  border-color: rgba(0, 0, 0, 0.3);
}

period_switcher-radio {
  position: relative;
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

period_switcher-radio::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid rgb(236, 171, 236);
}

period_switcher-radio:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(219, 192, 234);
  transform: translate(-50%, -50%);
  visibility: visible;
}

@media screen and (max-width: 520px) {
  .period_switcher {
    display: flex;
  }
}

@media screen and (max-width: 540px) {
  .period_switcher {
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    text-align: center;
    margin: auto;
    font-size: small;
  }

  .period_switcher-container {
    width: 100%;
    text-align: left;
    padding-left: 50%;
  }

  .period_switcher .column {
    color: rgb(35, 12, 75);
    padding: 5px;
    text-align: center;
    justify-content: center;
    font-size: x-small;
    margin: auto;
  }

  .period_switcher-radio {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(219, 192, 234);
    position: relative;
  }

  .period_switcher-radio::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid rgb(236, 171, 236);
  }

  .period_switcher-radio:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(219, 192, 234);
    transform: translate(-50%, -50%);
    visibility: visible;
    margin-right: auto;
  }
}

@media screen and (max-width: 540px) {
  .th-column-responsive {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .th-responsive {
    width: 30%;
    margin: 5px;
    font-size: smaller;
    font: bold;
  }

  .td-column-responsive {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: end;
    font-size: 70%;
    column-gap: 5px;

  }

  .td-responsive {
    width: 45%;
    margin: 5px;
    font-size: smaller;
    align-items: flex-start;

  }
}

@media screen and (max-width: 520px) {
  tr {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
  }
}

.handleInput {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 5px;
  gap: 15px;
}

.column {
  height: 50%;
  width: 80%;
}

.button {
  appearance: none;
  background-color: #f3dff0;
  border: 1px solid rgba(90, 16, 106, 0.691);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button:focus {
  outline: 1px transparent;
}

.button:before {
  display: none;
}

.button:-webkit-details-marker {
  display: none;
}

.input {
  text-align: center;
  justify-content: center;
  background-color: #f3dff0;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #09090a;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin-left: 20px;
  width: 250px;
  width: 350px;


}

.footer {
  text-align: center;
  justify-content: center;
  position: fixed;
  left: 0px;
  bottom: 90px;
  height: 30px;
  width: 100%;
}

@media screen and (max-width: 520px) {
  .footer {
    visibility: hidden;

  }
}

label {
  position: relative;
  font-size: small;
  margin: 20px;

}

@media screen and (max-width: 540px) {
  fieldset {
    display: inline-flex;
    align-items: center;
    gap: 5%;
    text-align: center;
    margin: 20px;

  }

  .footer {
    visibility: hidden;

  }
}

ul {
  list-style-type: none;
}

.table {
  display: grid;
  grid-template-areas:
    'date_title temp_title conditions_title'
    'date_val temp_val conditions_val';
  border: rgba(0, 0, 0, 0.3) groove 1px;
  padding: 0px;
}

.date_title {
  grid-area: date_title;
}

.temp_title {
  grid-area: temp_title;
}

.conditions_title {
  grid-area: conditions_title;
}

.date_val:nth-child(3n) {
  grid-area: date_val;
}

.temp_val:nth-child(3n+1) {
  grid-area: temp_val;
}

.conditions_val:nth-child(3n+2) {
  grid-area: conditions_val;
}

.weather_table_cell {
  margin: 0px;
  font-size: smaller;
  border: rgba(0, 0, 0, 0.3) groove 1px;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .table {
    grid-template-areas:
      'date_val'
      'temp_val'
      'conditions_val';
  }

  .weather_table_cell {
    position: relative;
    margin: 0px;
    font-size: smaller;
    border: rgba(0, 0, 0, 0.3) groove 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 50%;
  }

  .date_title {
    display: none;
  }

    
  .temp_title {
    display: none;
  }

  .conditions_title {
    display: none;
  }

  .table_values_mob::before {
    position: absolute;
    width: 45%;
    left: 0px;
    border-right: rgba(0, 0, 0, 0.3) groove 2px;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
  }

  .date_val::before {
    content: 'Date/Time: ';
  }

  .temp_val::before {
    content: 'Temperature: ';
  }

  .conditions_val::before {
    content: 'Conditions: ';
  }
}
